@import "tailwindcss";

.bagel {
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.playwrite {
  font-family: "Playwrite CZ", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.berkshire {
  font-family: "Berkshire Swash", serif;
  font-weight: 400;
  font-style: normal;
}
